.home{
    .num{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .el-card{
            width: 32%;
            margin-bottom: 20px;
        }
    }
    .graph{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        .el-card{
            width: 48%;
        }
    }
}